---
---

<!doctype html>
<html lang="en-US">

<head>
  <link rel="shortcut icon" href="/images/homepage/2024/10/logo.webp" type="image/x-icon" />
  <meta charset="UTF-8" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />

  <link rel="stylesheet" href="/contents/wp-includes/css/dist/block-library/style.min.css">
  <link rel="stylesheet" href="/contents/wp-content/plugins/bt_cost_calculator/style.min.css">
  <link rel="stylesheet" href="/contents/wp-content/cache/min/1/wp-content/plugins/wp-fuse/public/css/style.css">
  <link rel="stylesheet" href="/contents/wp-content/cache/min/1/wp-content/themes/cargo/fonts/fa/font-awesome.css">
  <link rel="stylesheet" href="/contents/wp-content/cache/min/1/wp-content/themes/cargo/style.css">
  <link rel="stylesheet" href="/contents/wp-content/cache/min/1/wp-content/plugins/shortcodes-ultimate/includes/css/shortcodes.css">
  <link rel="stylesheet" href="/contents/wp-content/cache/min/1/wp-content/plugins/shortcodes-ultimate/includes/css/icons.css">

  <style>
    img:is([sizes="auto" i], [sizes^="auto," i]) {
      contain-intrinsic-size: 3000px 1500px;
    }
  </style>

  <meta name="description"
    content="Quickship PVT Limited - a leading East African customs clearing and forwarding company since 2010. Expert air, land, & ocean freight solutions." />
  <link rel="canonical" href="https://www.quickshipafrica.com/" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Quickship PVT Limited - Customs Clearing & Forwarding" />
  <meta property="og:description"
    content="Quickship PVT Limited - a leading East African customs clearing and forwarding company since 2010. Expert logistics solutions across East Africa and beyond." />
  <meta property="og:url" content="https://www.quickshipafrica.com/" />
  <meta property="og:site_name" content="Quickship PVT Limited" />
  <meta property="article:modified_time" content="2024-09-17T09:27:25+00:00" />
  <meta property="og:image" content="/images/homepage/2024/10/logo.webp" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@QuickshipAfrica" />
  <title>Quickship PVT Limited - Customs Clearing & Forwarding</title>
  <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "WebPage",
            "@id": "https://www.quickshipafrica.com/",
            "url": "https://www.quickshipafrica.com/",
            "name": "Quickship PVT Limited - Customs Clearing & Forwarding",
            "isPartOf": { "@id": "https://www.quickshipafrica.com/#website" },
            "about": { "@id": "https://www.quickshipafrica.com/#organization" },
            "primaryImageOfPage": {
              "@id": "https://www.quickshipafrica.com/#primaryimage"
            },
            "image": { "@id": "https://www.quickshipafrica.com/#primaryimage" },
            "thumbnailUrl": "/images/homepage/2024/10/slider-banner.jpg",
            "datePublished": "2010-10-12T08:01:11+00:00",
            "dateModified": "2024-09-17T09:27:25+00:00",
            "description": "Quickship PVT Limited - a leading East African customs clearing and forwarding company since 2010. Expert air, land, & ocean freight solutions.",
            "breadcrumb": {
              "@id": "https://www.quickshipafrica.com/#breadcrumb"
            },
            "inLanguage": "en-US",
            "potentialAction": [
              {
                "@type": "ReadAction",
                "target": ["https://www.quickshipafrica.com/"]
              }
            ]
          },
          {
            "@type": "ImageObject",
            "inLanguage": "en-US",
            "@id": "https://www.quickshipafrica.com/#primaryimage",
            "url": "/images/homepage/2024/10/main-banner.jpg",
            "contentUrl": "/images/homepage/2024/10/main-banner.jpg",
            "width": 1440,
            "height": 589,
            "caption": "Customs Clearing & Forwarding Services"
          },
          {
            "@type": "BreadcrumbList",
            "@id": "https://www.quickshipafrica.com/#breadcrumb",
            "itemListElement": [
              { "@type": "ListItem", "position": 1, "name": "Home" }
            ]
          },
          {
            "@type": "WebSite",
            "@id": "https://www.quickshipafrica.com/#website",
            "url": "https://www.quickshipafrica.com/",
            "name": "Quickship PVT Limited",
            "description": "Customs Clearing &amp; Forwarding",
            "publisher": {
              "@id": "https://www.quickshipafrica.com/#organization"
            },
            "alternateName": "Quickship Africa",
            "potentialAction": [
              {
                "@type": "SearchAction",
                "target": {
                  "@type": "EntryPoint",
                  "urlTemplate": "https://www.quickshipafrica.com/?s={search_term_string}"
                },
                "query-input": "required name=search_term_string"
              }
            ],
            "inLanguage": "en-US"
          },
          {
            "@type": "Organization",
            "@id": "https://www.quickshipafrica.com/#organization",
            "name": "Quickship PVT Limited",
            "alternateName": "Customs Clearing & Forwarding",
            "url": "https://www.quickshipafrica.com/",
            "logo": {
              "@type": "ImageObject",
              "inLanguage": "en-US",
              "@id": "https://www.quickshipafrica.com/#/schema/logo/image/",
              "url": "/images/homepage/2024/10/logo.webp",
              "contentUrl": "/images/homepage/2024/10/logo.webp",
              "width": 280,
              "height": 150,
              "caption": "Quickship PVT Limited"
            },
            "image": {
              "@id": "https://www.quickshipafrica.com/#/schema/logo/image/"
            },
            "sameAs": [
              "https://www.facebook.com/QuickshipAfrica/",
              "https://twitter.com/QuickshipAfrica",
              "https://www.linkedin.com/company/quickship-africa/",
              "https://www.instagram.com/QuickshipAfrica/"
            ]
          }
        ]
      }
    </script>
  <meta name="google-site-verification" content="efwZj_eSvINxiCx17U25aWf7QElkGMYQVVogePO8Mkw" />
  <!-- / Yoast SEO plugin. -->

  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link href="https://fonts.gstatic.com" crossorigin rel="preconnect" />
</head>

<body
  class="home page-template-default page page-id-1041 fuse-divi-off fuse-divi-inactive bodyPreloader btMenuRightEnabled btStickyEnabled btLightSkin btBelowMenu btMenuGutter btNoSidebar">
  <div class="btPageWrap" id="top">
    <header class="mainHeader btClear">
      <div class="topBar btClear">
        <div class="topBarPort btClear">
          <div class="topTools ttLeft col-ms-6 btTextLeft">
            <div class="btIco borderless extrasmall">
              <a href="mailto:info@quickship.co.tz" data-ico-fa=""
                class="btIcoHolder"><span>info@quickship.co.tz</span></a>
            </div>
            <div class="btIco borderless extrasmall">
              <a href="tel:+255696621347" data-ico-fa="" class="btIcoHolder"><span>+255 696 621 347</span></a>
            </div>
          </div>
          <!-- /ttLeft -->
          <div class="topTools ttRight col-ms-6 btTextRight">
            <div class="btIco borderless extrasmall">
              <a href="https://www.facebook.com/QuickshipAfrica/" target="_blank" data-ico-fa=""
                class="btIcoHolder"></a>
            </div>
            <div class="btIco borderless extrasmall">
              <a href="https://twitter.com/QuickshipAfrica" target="_blank" data-ico-fa="" class="btIcoHolder"></a>
            </div>
            <div class="btIco borderless extrasmall">
              <a href="https://www.linkedin.com/company/quickship-africa/" target="_blank" data-ico-fa=""
                class="btIcoHolder"></a>
            </div>
            <div class="btIco borderless extrasmall">
              <a href="https://www.instagram.com/QuickshipAfrica/" target="_blank" data-ico-fa=""
                class="btIcoHolder"></a>
            </div>
            <div class="btTopBox widget_search">
              <div class="btSearch">
                <div class="btIco default extrasmall">
                  <a href="#" data-ico-fa="" class="btIcoHolder"></a>
                </div>
                <div class="btSearch">
                  <div class="btSearchInner" role="search">
                    <div class="btSearchInnerContent">
                      <form action="https://www.quickshipafrica.com/" method="get">
                        <input type="text" name="s" placeholder="Looking for..." class="untouched" />
                        <button type="submit" data-icon=""></button>
                      </form>
                      <div class="btSearchInnerClose">
                        <div class="btIco borderless small">
                          <a href="#" data-ico-fa="" class="btIcoHolder"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="btIco borderless extrasmall">
              <a href="https://www.quickshipafrica.com/quote" data-ico-fa="" class="btIcoHolder"><span>Get a Freight
                  Quote</span></a>
            </div>
          </div>
          <!-- /ttRight -->
        </div>
        <!-- /topBarPort -->
      </div>
      <!-- /topBar -->
      <div class="port">
        <div class="menuHolder btClear">
          <div class="btVerticalMenuTrigger">
            &nbsp;
            <div class="btIco borderless extrasmall">
              <a href="#" data-ico-fa="" class="btIcoHolder"></a>
            </div>
          </div>
          <div class="btHorizontalMenuTrigger">
            &nbsp;
            <div class="btIco borderless extrasmall">
              <a href="#" data-ico-fa="" class="btIcoHolder"></a>
            </div>
          </div>
          <div class="logo">
            <span>
              <a href="https://www.quickshipafrica.com/">
                <img width="280" height="150" class="btMainLogo" src="/images/homepage/2024/10/logo.webp"
                  alt="Quickship PVT Limited" />
                <img width="280" height="150" class="btAltLogo" src="/images/homepage/2024/10/logo.webp"
                  alt="Quickship PVT Limited" />
              </a>
            </span>
          </div>
          <!-- /logo -->
          <div class="menuPort">
            <nav>
              <ul>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1041 current_page_item menu-item-2148">
                  <a href="https://www.quickshipafrica.com/" aria-current="page">Home</a>
                </li>
                <li
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2814">
                  <a href="https://www.quickshipafrica.com/about-us/">About</a>
                </li>
                <li
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2149">
                  <a href="https://www.quickshipafrica.com/services/">Services</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2945">
                  <a href="/contact/">Contact</a>
                </li>
                <li class="menu-btn menu-item menu-item-type-custom menu-item-object-custom menu-item-2945">
                  <a href="/inquiry/">Inquiry</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- .menuPort -->
        </div>
        <!-- /menuHolder -->
      </div>
      <div class="btCurveHeader">
        <div class="btCurveHolder">
          <div class="btCurveLeftHolder">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="20px" viewBox="0 0 80 20"
              enable-background="new 0 0 80 20" xml:space="preserve">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M 81 20 c 0 0 -16 0 -30 0 c -30 0 -23 -15 -50 -15 l 0 -5 L 81 0 L 81 20 Z" class="btCurveLeft">
              </path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M 81 -1 L 31 -1 c 27 -1 21 15 51 16 C 82 3 82 -1 82 -1 Z"
                class="btCurveLeftFill"></path>
            </svg>
          </div>
          <div class="btCurveRightHolder">
            <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="20px" viewBox="0 0 80 20"
              enable-background="new 0 0 80 20" xml:space="preserve">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M 0 20 c 0 0 16 0 30 0 c 30 0 23 -15 50 -15 l 0 -5 L 0 0 L 0 20 Z" class="btCurveRight"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M -1 -1 L 50 -1 C 23 -1 30 15 -1 15 C -1 3 -1 -1 -1 -1 Z"
                class="btCurveRightFill"></path>
            </svg>
          </div>
          <div class="btSiteHeaderCurveSleeve"></div>
        </div>
      </div>
      <!-- /port -->
    </header>
    <!-- /.mainHeader -->

    <div class="btContentWrap btClear">
      <div class="btContentHolder">
        <div class="btContent">
          <div class="bt_rc_container">
            <section id="slider" class="boldSection btDarkSkin inherit">
              <div class="port">
                <div class="boldCell">
                  <div class="boldCellInner">
                    <div class="boldRow">
                      <div class="rowItem col-md-12 col-ms-12 btTextLeft inherit">
                        <div class="rowItemContent">
                          <div class="slided autoSliderHeight"
                            data-slick='{"autoplay":true,"autoplaySpeed":4000,"pauseOnHover":false,"pauseOnDotsHover":true}'>
                            <div class="slidedItem firstItem"
                              data-thumb="/images/homepage/2024/06/Slider-v-072024-min-320x138.jpg">
                              <div data-bg="/images/homepage/2024/06/Slider-v-072024-min.jpg"
                                class="btSliderPort wBackground cover rocket-lazyload" style="">
                                <div class="btSliderCell" data-slick="yes">
                                  <div class="btSlideGutter">
                                    <div class="btSlidePane">
                                      <div class="btClear btSeparator topSpaced noBorder">
                                        <hr />
                                      </div>
                                      <header class="header btClear large btNarrowHeader btAccentDash btRegularTitle">
                                        <div class="dash">
                                          <h2>
                                            <span class="headline">Seamless Logistics</span>
                                          </h2>
                                        </div>
                                      </header>
                                      <header
                                        class="header btClear medium btDash bottomDash btNarrowHeader btAccentDash btRegularTitle"
                                        style="margin-top: -20px">
                                        <div class="dash">
                                          <h3>
                                            <span class="headline">Unmatched Efficiency</span>
                                          </h3>
                                        </div>
                                      </header>
                                      <div class="btClear btSeparator topSmallSpaced noBorder">
                                        <hr />
                                      </div>
                                      <div
                                        class="btBtn btBtn btnFilled btnIconLeftPosition btnAccentColor btnBig btnNormal btnIco"
                                        style="font-size: 20px; font-weight: 700;">
                                        <div class="btIco borderless extrasmall">
                                          <a href="tel:+255696621347" data-ico-fa="" class="btIcoHolder"><span>+255 696
                                              621 347</span></a>
                                        </div>
                                      </div>
                                      <div class="btClear btSeparator topSpaced noBorder">
                                        <hr />
                                      </div>
                                      <div class="btQuoteBooking btQuoteBookingWithoutColor c67d5508a68a39"
                                        style="margin: 15px 25px 0px 25px">
                                        <div class="btQuoteBookingWrap">
                                          <div class="btQuoteBookingForm btActive">
                                            <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                                              <hr />
                                            </div>
                                            <div class="btQuoteGBlock" data-eval="" data-paypal_label=""
                                              id="btQuoteItem67d5508a68b1a">
                                              <div class="btText">
                                                <ul>
                                                  <li>
                                                    <strong><span class="p19">Customs Clearing &
                                                        Forwarding Specialists</span></strong>
                                                  </li>
                                                  <li>
                                                    <strong><span class="p19">Regional Presence:
                                                        Tanzania, Zambia,
                                                        Malawi & Rwanda</span></strong>
                                                  </li>
                                                  <li>
                                                    <strong><span class="p19">Expertise In Handling
                                                        Complex Logistics
                                                        Solutions</span></strong>
                                                  </li>
                                                  <li>
                                                    <strong><span class="p19">Integrated Freight &
                                                        Transportation
                                                        Services</span></strong>
                                                  </li>
                                                </ul>
                                                <div class="su-button-center">
                                                  <a href="https://www.quickshipafrica.com/services/customs-clearing-forwarding/"
                                                    class="su-button su-button-style-flat"
                                                    style="color: #ffffff; background-color: #31ac54; border-color: #a80521; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;"
                                                    target="_self">
                                                    <span
                                                      style="color: #ffffff; padding: 0px 24px; font-size: 18px; line-height: 36px; border-color: #e0516a; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; text-shadow: none; -moz-text-shadow: none; -webkit-text-shadow: none;">
                                                      <strong>Read More</strong>
                                                    </span>
                                                  </a>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="btTotalNextWrapper">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="slidedItem firstItem"
                              data-thumb="/images/homepage/2022/10/banner-bg-baum-shipping-320x138.jpg">
                              <div data-bg="/images/homepage/2022/10/banner-bg-baum-shipping.jpg"
                                class="btSliderPort wBackground cover rocket-lazyload" style="">
                                <div class="btSliderCell" data-slick="yes">
                                  <div class="btSlideGutter">
                                    <div class="btSlidePane">
                                      <div class="btClear btSeparator topSpaced noBorder">
                                        <hr />
                                      </div>
                                      <header
                                        class="header btClear extralarge btDash bottomDash btNarrowHeader btAccentDash btRegularTitle">
                                        <div class="dash">
                                          <h1>
                                            <span class="headline">EXPERT LOGISTICS SOLUTIONS</span>
                                          </h1>
                                        </div>
                                        <p class="btSubTitle">
                                          Customs Clearing & Forwarding
                                        </p>
                                      </header>
                                      <div class="btClear btSeparator topSmallSpaced noBorder">
                                        <hr />
                                      </div>
                                      <div
                                        class="btBtn btBtn btnFilled btnIconLeftPosition btnAccentColor btnBig btnNormal btnIco"
                                        style="font-size: 20px; font-weight: 700;">
                                        <div class="btIco borderless extrasmall">
                                          <a href="tel:+255696621347" data-ico-fa="" class="btIcoHolder"><span>+255 696
                                              621 347</span></a>
                                        </div>
                                      </div>
                                      <div class="btClear btSeparator topSpaced noBorder">
                                        <hr />
                                      </div>
                                      <div class="btQuoteBooking btQuoteBookingWithoutColor c67d5508a6943a"
                                        style="margin: 15px 25px 0px 25px">
                                        <div class="btQuoteBookingWrap">
                                          <div class="btQuoteBookingForm btActive">
                                            <header class="header btClear small btAccentDash btRegularTitle">
                                              <div class="dash">
                                                <h4>
                                                  <span class="headline">Trusted Logistics
                                                    Provider Since 2010</span>
                                                </h4>
                                              </div>
                                            </header>
                                            <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                                              <hr />
                                            </div>
                                            <div class="btQuoteGBlock" data-eval="" data-paypal_label=""
                                              id="btQuoteItem67d5508a69561">
                                              <div class="btText">
                                                <ul>
                                                  <li>
                                                    <strong><span class="p19">Customs Clearing
                                                        Experts</span></strong>
                                                  </li>
                                                  <li>
                                                    <strong><span class="p19">Fast Freight
                                                        Solutions</span></strong>
                                                  </li>
                                                  <li>
                                                    <strong><span class="p19">Regulatory Compliance</span></strong>
                                                  </li>
                                                </ul>
                                                <div class="su-button-center">
                                                  <a href="https://www.quickshipafrica.com/quote/#quote"
                                                    class="su-button su-button-style-flat"
                                                    style="color: #ffffff; background-color: #31ac54; border-color: #a80521; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;"
                                                    target="_self">
                                                    <span
                                                      style="color: #ffffff; padding: 8px 24px; font-size: 18px; line-height: 27px; border-color: #e0516a; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; text-shadow: none; -moz-text-shadow: none; -webkit-text-shadow: none;">
                                                      <i class="sui sui-calculator"
                                                        style="font-size: 18px; color: #ffffff;"></i>
                                                      <strong>GET A QUOTE NOW</strong>
                                                    </span>
                                                  </a>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="btTotalNextWrapper">
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Additional slider items can go here -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow"></div>
                  </div>
                </div>
              </div>
            </section>
            <!-- content bar section -->

            <section data-bg="/images/homepage/2015/09/Transparent-background-with-dots.png"
              id="bt_section67d5508a6b1ae" data-parallax="0.1" data-parallax-offset="0"
              class="boldSection topSmallSpaced bottomSmallSpaced btDarkSkin gutter inherit btParallax wBackground cover rocket-lazyload"
              style="background-color: #211d1e">
              <div class="port">
                <div class="boldCell">
                  <div class="boldCellInner">
                    <div class="boldRow flex-wrap-mobile">
                      <div
                        class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft animate animate-fadein btMiddleVertical">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="servicesItem mediumIcon colorless borderlessIconType">
                            <div class="sIcon">
                              <div class="btIco medium colorless borderless">
                                <a href="#" data-ico-cs="" class="btIcoHolder"></a>
                              </div>
                            </div>
                            <div class="sTxt">
                              <header class="header btClear extrasmall">
                                <div class="dash">
                                  <h4>
                                    <span class="headline">CONTACT US</span>
                                  </h4>
                                </div>
                              </header>
                              <p>
                                Call Anytime, 24/7 <br />+255 696 621 347<br />
                              </p>
                            </div>
                          </div>
                          <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                      <div
                        class="rowItem btLeftBorder col-md-3 col-sm-6 col-ms-12 btTextLeft animate animate-fadein btMiddleVertical">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="servicesItem mediumIcon colorless borderlessIconType">
                            <div class="sIcon">
                              <div class="btIco medium colorless borderless">
                                <a href="#" data-ico-cs="" class="btIcoHolder"></a>
                              </div>
                            </div>
                            <div class="sTxt">
                              <header class="header btClear extrasmall">
                                <div class="dash">
                                  <h4>
                                    <span class="headline">WORKING HOURS</span>
                                  </h4>
                                </div>
                              </header>
                              <p>
                                Monday – Friday <br />8 AM – 5 PM<br />
                              </p>
                            </div>
                          </div>
                          <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                      <div
                        class="rowItem btLeftBorder col-md-3 col-sm-6 col-ms-12 btTextLeft animate animate-fadein btMiddleVertical">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="servicesItem mediumIcon colorless borderlessIconType">
                            <div class="sIcon">
                              <div class="btIco medium colorless borderless">
                                <span data-ico-cs="" class="btIcoHolder"></span>
                              </div>
                            </div>
                            <div class="sTxt">
                              <header class="header btClear extrasmall">
                                <div class="dash">
                                  <h4>
                                    <span class="headline">OUR LOCATION</span>
                                  </h4>
                                </div>
                              </header>
                              <p>
                                7th Floor, Amani Place<br />Ohio Street, Dar
                                es Salaam<br />
                              </p>
                            </div>
                          </div>
                          <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                      <div
                        class="rowItem col-md-3 col-sm-6 col-ms-12 btTextLeft animate animate-fadein btHighlight btMiddleVertical btNoPadding"
                        style="z-index: 10">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="servicesItem mediumIcon colorless borderlessIconType" style="margin-bottom: 0px">
                            <div class="sIcon">
                              <div class="btIco medium colorless borderless">
                                <span data-ico-cs="" class="btIcoHolder"></span>
                              </div>
                            </div>
                            <div class="sTxt">
                              <header class="header btClear extrasmall">
                                <div class="dash">
                                  <h4>
                                    <span class="headline">TRACK YOUR SHIPMENT</span>
                                  </h4>
                                </div>
                              </header>
                              <p></p>
                            </div>
                          </div>
                          <div class="btBtn btBtn btnFilled btnIconLeftPosition btnNormalColor btnSmall btnFull btnIco"
                            style="text-align: center; margin-top: -19px; padding-top: 0px; font-size: 16px;">
                            <div class="btIco borderless extrasmall">
                              <a href="https://www.quickshipafrica.com/tracking/" style="font-size: 12px;"
                                data-ico-fa="" class="btIcoHolder"><span>ENTER TRACKING NUMBER</span></a>
                            </div>
                          </div>
                          <div class="btClear btSeparator topExtraSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- services -->

            <section data-bg="/images/homepage/2015/09/Transparent-background-with-dots.png"
              id="bt_section67d5508a6b84a" data-parallax="0.1" data-parallax-offset="0"
              class="boldSection topSpaced bottomSpaced gutter inherit btParallax wBackground cover rocket-lazyload"
              style="">
              <div class="port">
                <div class="boldCell">
                  <div class="boldCellInner">
                    <div class="boldRow">
                      <div class="rowItem col-sm-4 col-ms-12 btTextLeft animate animate-fadein inherit btDoublePadding">
                        <div class="rowItemContent">
                          <header class="header btClear medium btAccentDash btRegularTitle">
                            <p class="btSuperTitle">OUR SERVICES</p>
                            <div class="dash">
                              <h3>
                                <span class="headline">WHAT WE DO FOR YOU</span>
                              </h3>
                            </div>
                          </header>
                          <div class="btText">
                            <div style="font-size: 14px">
                              From import/export documentation to inland
                              transportation, if you have freight that needs
                              to move across East Africa and beyond – <strong>Quickship PVT Limited</strong> is your
                              trusted logistics solution.
                            </div>
                          </div>
                          <div class="btText">
                            <div class="show-on-mobile" style="font-size: 14px">
                              <strong>Quickship PVT Limited</strong> has been a
                              leading customs clearing and forwarding company since
                              2010. We offer seamless logistics solutions across
                              Tanzania, Zambia, Malawi, Rwanda and beyond.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="rowItem col-sm-4 col-ms-12 btTextLeft animate animate-fadein btHighlight inherit box-link-wrap">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="servicesItem mediumIcon borderlessIconType box-link">
                            <div class="sIcon">
                              <div class="btIco medium borderless">
                                <a href="https://www.quickshipafrica.com/customs-clearing-forwarding/" data-ico-cs=""
                                  class="btIcoHolder"></a>
                              </div>
                            </div>
                            <div class="sTxt">
                              <header class="header btClear extrasmall">
                                <div class="dash">
                                  <h4>
                                    <span class="headline">CUSTOMS CLEARING & FORWARDING</span>
                                  </h4>
                                </div>
                              </header>
                              <p>
                                We handle all customs documentation, duties,
                                and taxes to ensure smooth, compliant cargo
                                movement through East African ports and
                                borders. <br />
                              </p>
                            </div>
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                      <div
                        class="rowItem col-sm-4 col-ms-12 btTextLeft animate animate-fadein btHighlight inherit box-link-wrap">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="servicesItem mediumIcon borderlessIconType">
                            <div class="sIcon">
                              <div class="btIco medium borderless">
                                <a href="https://www.quickshipafrica.com/freight-logistics-solutions/" data-ico-fa=""
                                  class="btIcoHolder"></a>
                              </div>
                            </div>
                            <div class="sTxt">
                              <header class="header btClear extrasmall">
                                <div class="dash">
                                  <h4>
                                    <span class="headline">FREIGHT & LOGISTICS SOLUTIONS</span>
                                  </h4>
                                </div>
                              </header>
                              <p>
                                We provide global and regional freight
                                solutions tailored to your business needs,
                                optimizing routes and costs for efficient
                                deliveries.<br />
                              </p>
                            </div>
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow">
                      <div
                        class="rowItem col-md-12 col-ms-12 btTextRight animate animate-fadein animate-moveright inherit">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow">
                      <div class="rowItem col-sm-4 col-ms-12 btTextLeft inherit btDoublePadding hide-on-mobile">
                        <div class="rowItemContent">
                          <div class="btText">
                            <div style="font-size: 14px">
                              <strong>Quickship PVT Limited</strong> has been a
                              leading customs clearing and forwarding company since
                              2010. We offer seamless logistics solutions across
                              Tanzania, Zambia, Malawi, Rwanda and beyond.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="rowItem col-sm-4 col-ms-12 btTextLeft animate animate-fadein btHighlight inherit box-link-wrap">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="servicesItem mediumIcon borderlessIconType">
                            <div class="sIcon">
                              <div class="btIco medium borderless">
                                <a href="https://www.quickshipafrica.com/inland-transportation/" data-ico-cs=""
                                  class="btIcoHolder"></a>
                              </div>
                            </div>
                            <div class="sTxt">
                              <header class="header btClear extrasmall">
                                <div class="dash">
                                  <h4>
                                    <span class="headline">INLAND TRANSPORTATION</span>
                                  </h4>
                                </div>
                              </header>
                              <p>
                                Our reliable transport network ensures
                                efficient delivery of goods from ports to
                                final destinations via road, rail, and
                                multimodal solutions.<br />
                              </p>
                            </div>
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                      <div
                        class="rowItem col-sm-4 col-ms-12 btTextLeft animate animate-fadein btHighlight inherit box-link-wrap">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="servicesItem mediumIcon borderlessIconType">
                            <div class="sIcon">
                              <div class="btIco medium borderless">
                                <a href="https://www.quickshipafrica.com/specialized-cargo-handling/" data-ico-cs=""
                                  class="btIcoHolder"></a>
                              </div>
                            </div>
                            <div class="sTxt">
                              <header class="header btClear extrasmall">
                                <div class="dash">
                                  <h4>
                                    <span class="headline">SPECIALIZED CARGO HANDLING</span>
                                  </h4>
                                </div>
                              </header>
                              <p>
                                We offer expert handling for specialized
                                cargo, ensuring secure and compliant movement
                                of perishable goods, hazardous materials, and
                                oversized equipment.<br />
                              </p>
                            </div>
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow">
                      <div
                        class="rowItem col-md-12 col-ms-12 btTextRight animate animate-fadein animate-moveright inherit">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow">
                      <div class="rowItem col-sm-4 col-ms-12 btTextLeft inherit btDoublePadding">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter visible-lg">
                            <div class="btImage">
                              <img width="1600" height="1067" decoding="async"
                                src="/images/homepage/2022/09/bigstock-Industrial-Container-Cargo-Fre-84077330.jpg"
                                alt="Logistics and Container Ship" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="rowItem col-sm-4 col-ms-12 btTextLeft animate animate-fadein btHighlight inherit box-link-wrap">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="servicesItem mediumIcon borderlessIconType">
                            <div class="sIcon">
                              <div class="btIco medium borderless">
                                <a href="https://www.quickshipafrica.com/trade-compliance-consultancy/" data-ico-fa=""
                                  class="btIcoHolder"></a>
                              </div>
                            </div>
                            <div class="sTxt">
                              <header class="header btClear extrasmall">
                                <div class="dash">
                                  <h4>
                                    <span class="headline">TRADE COMPLIANCE & CONSULTANCY</span>
                                  </h4>
                                </div>
                              </header>
                              <p>
                                Our team helps businesses navigate trade
                                regulations, ensuring compliance and
                                cost-effective solutions for import/export
                                operations across East Africa.<br />
                              </p>
                            </div>
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                      <div
                        class="rowItem col-sm-4 col-ms-12 btTextLeft animate animate-fadein btHighlight inherit box-link-wrap">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="servicesItem mediumIcon borderlessIconType">
                            <div class="sIcon">
                              <div class="btIco medium borderless">
                                <a href="/industries/" data-ico-fa="" class="btIcoHolder"></a>
                              </div>
                            </div>
                            <div class="sTxt">
                              <header class="header btClear extrasmall">
                                <div class="dash">
                                  <h4>
                                    <span class="headline">INDUSTRY-SPECIFIC SOLUTIONS</span>
                                  </h4>
                                </div>
                              </header>
                              <p>
                                We provide tailored logistics solutions for
                                various industries including manufacturing,
                                retail, mining, agriculture, and
                                pharmaceuticals – understanding each sector's
                                unique requirements.<br />
                              </p>
                            </div>
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- testimonial section -->

            <section data-bg="/images/homepage/2024/10/shipping.webp" id="bt_section67d5508a6e808" data-parallax="-0.1"
              data-parallax-offset="0"
              class="boldSection topSpaced bottomSpaced btDarkSkin gutter inherit btParallax wBackground cover rocket-lazyload"
              style="">
              <div class="port">
                <div class="boldCell">
                  <div class="boldCellInner">
                    <div class="boldRow">
                      <div
                        class="rowItem col-md-12 col-ms-12 btTextCenter animate animate-fadein inherit btDoublePadding"
                        style="padding: 0px 25px 0px 25px">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                          <header class="header btClear large btAccentDash btRegularTitle" style="font-weight: 700">
                            <div class="dash">
                              <h2>
                                <span class="headline">CLIENT TESTIMONIALS</span>
                              </h2>
                            </div>
                          </header>
                          <div class="btClear btSeparator topSemiSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow">
                      <div
                        class="rowItem col-md-12 col-ms-12 btTextCenter animate animate-fadein inherit btDoublePadding"
                        style="padding: 0px 25px 0px 25px; background-color: rgba(244, 244, 244, 1);">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSemiSpaced noBorder">
                            <hr />
                          </div>
                          <div class="btText">
                            <blockquote>
                              <p>
                                <span style="color: #444444; font-size: 17px; font-weight: 600;">
                                  <em>&#8220;Quickship never leaves anything to
                                    chance. Their attention to detail and
                                    reliability have made us their consistent
                                    partners.&#8221;</em>
                                </span>
                              </p>
                              <p style="text-align: right; color: #444444; font-size: 14px;">
                                <strong>— Binesh Haria, Director </strong>
                              </p>
                            </blockquote>
                          </div>
                          <div class="btClear btSeparator topSmallSpaced noBorder">
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow">
                      <div
                        class="rowItem col-md-12 col-ms-12 btTextCenter animate animate-fadein inherit btDoublePadding"
                        style="padding: 0px 25px 0px 25px">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator topSemiSpaced noBorder">
                            <hr />
                          </div>
                          <div
                            class="btBtn btBtn btnFilled btnIconLeftPosition btnNormalColor btnBig btnNormal mb-20 btnIco">
                            <div class="btIco borderless extrasmall">
                              <a href="/quote/#quote" data-ico-cs="" class="btIcoHolder"><span>FREIGHT QUOTE</span></a>
                            </div>
                          </div>
                          <div
                            class="btBtn btBtn btnFilled btnIconLeftPosition btnNormalColor btnBig btnNormal mb-20 btnIco">
                            <div class="btIco borderless extrasmall">
                              <a href="https://www.quickshipafrica.com/contact" data-ico-fa=""
                                class="btIcoHolder"><span>CONTACT US</span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow"></div>
                  </div>
                </div>
              </div>
            </section>

            <!-- About Us / Value Proposition Section -->

            <section id="bt_section67d5508a6f1fa" class="boldSection topMoreSpaced bottomMoreSpaced gutter inherit"
              style="background-color: #ebebeb">
              <div class="port">
                <div class="boldCell">
                  <div class="boldCellInner">
                    <div class="boldRow flex-col-reverse">
                      <div
                        class="rowItem col-sm-6 col-ms-12 btTextRight animate animate-fadein btTextIndent inherit btDoublePadding">
                        <div class="rowItemContent">
                          <header class="header btClear medium btAccentDash btRegularTitle">
                            <div class="dash">
                              <h3>
                                <span class="headline">Expert Consultancy Services</span>
                              </h3>
                            </div>
                          </header>
                          <div class="btText">
                            <p style="font-size: 18px">
                              Whether this is your first time
                              importing/exporting or you have a particularly
                              complex logistics challenge, our consultants can
                              help you navigate customs regulations and
                              formulate an efficient logistics plan.
                            </p>
                            <p style="font-size: 18px">
                              <strong><a href="https://www.quickshipafrica.com/trade-compliance-consultancy/"><em>Learn
                                    More &gt;</em></a></strong>
                            </p>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder" style="padding-top: 13px">
                            <hr />
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-sm-6 col-ms-12 btTextLeft inherit">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter">
                            <div class="btImage">
                              <img width="585" height="239" decoding="async"
                                src="/images/homepage/2022/09/consulting-services.jpg" alt="Consulting Services" />
                            </div>
                          </div>
                          <div class="btClear btSeparator bottomSmallSpaced noBorder" style="padding-top: 13px">
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow">
                      <div class="rowItem col-md-12 col-ms-12 btTextLeft">
                        <div class="rowItemContent">
                          <div class="btClear btSeparator bottomSemiSpaced noBorder" style="padding-top: 13px">
                            <hr />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow">
                      <div
                        class="rowItem col-sm-6 col-ms-12 btTextRight animate animate-fadein btTextIndent inherit btDoublePadding">
                        <div class="rowItemContent">
                          <div class="bpgPhoto btTextCenter mb-20">
                            <div class="btImage">
                              <img width="585" height="239" decoding="async"
                                src="/images/homepage/2022/09/webinars-and-resources.jpg" alt="Regional Presence" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rowItem col-sm-6 col-ms-12 btTextLeft inherit">
                        <div class="rowItemContent">
                          <header class="header btClear medium btAccentDash btRegularTitle">
                            <div class="dash">
                              <h3>
                                <span class="headline">Our Regional Presence</span>
                              </h3>
                            </div>
                          </header>
                          <div class="btText">
                            <p style="font-size: 18px">
                              Quickship has established a strong presence
                              across East Africa with operations in Tanzania,
                              Zambia, Malawi, and Rwanda. Our regional network
                              ensures seamless cross-border logistics
                              solutions.
                            </p>
                            <p style="font-size: 18px">
                              <strong><a href="https://www.quickshipafrica.com/about-us/"><em>Learn More
                                    &gt;</em></a></strong>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="boldRow"></div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Call to Action Section -->
            <section data-bg="/images/homepage/2022/10/get-freight-quote.jpg" id="bt_section67d5508a70a5c"
              data-parallax="0" data-parallax-offset="0"
              class="boldSection topMoreSpaced bottomMoreSpaced btDarkSkin gutter inherit btParallax wBackground cover rocket-lazyload"
              style="">
              <div class="port">
                <div class="boldCell">
                  <div class="boldCellInner">
                    <div class="boldRow">
                      <div class="rowItem col-md-12 col-ms-12 btTextCenter inherit">
                        <div class="rowItemContent">
                          <div class="btText">
                            <h3 style="text-align: center; margin-bottom: 25px">
                              <strong>GET A FREIGHT QUOTE</strong>
                            </h3>
                            <h4 style="text-align: center; margin-bottom: 30px">
                              Tell us about your logistics needs, and we'll
                              respond the same day<br />
                              (Monday – Friday, 8:00 am – 5:00 pm).
                            </h4>
                          </div>
                          <div class="btBtn btBtn btnFilled btnIconLeftPosition btnAccentColor btnBig btnNormal btnIco">
                            <div class="btIco borderless extrasmall">
                              <a href="https://www.quickshipafrica.com/quote/#quote" data-ico-fa=""
                                class="btIcoHolder"><span>REQUEST A QUOTE</span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <!-- /bt_content -->
      </div>
    </div>
    <!-- /bt_content -->

    <div class="boldSection gutter btSiteFooter btGutter breadcrumbs">
      <div class="port">
        <div class="boldRow">
          <div class="rowItem btFooterCopy col-md-12 col-sm-12 btTextLeft breadcrumbs-txt">
            <span><span class="breadcrumb_last" aria-current="page">Home</span></span>
          </div>
          <!-- /copy -->
        </div>
        <!-- /boldRow -->
      </div>
      <!-- port -->
    </div>
  </div>
  <!-- /contentHolder -->

  <!-- /contentWrap -->

  <section class="boldSection gutter btSiteFooterCurve">
    <div class="port">
      <div class="btCurveLeftHolder">
        <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="50px" height="14px" viewBox="0 0 50 14" enable-background="new 0 0 50 14"
          xml:space="preserve">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M 0 14 C 27 15 20 0 51 0 c 0 13 0 15 0 15 L 0 15 Z"
            class="btCurveLeft"></path>
        </svg>
      </div>
      <div class="btCurveRightHolder">
        <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="50px" height="14px" viewBox="0 0 50 14" enable-background="new 0 0 50 14"
          xml:space="preserve">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M 50 14 c -27 0 -20 -14 -50 -14 c 0 13 0 14 0 145 L 50 14 Z"
            class="btCurveRight"></path>
        </svg>
      </div>
      <div class="btSiteFooterCurveSleeve"></div>
    </div>
  </section>
  <section class="boldSection btSiteFooterWidgets gutter topSemiSpaced topSemiSpaced btDoubleRowPadding">
    <div class="port">
      <div class="boldRow" id="boldSiteFooterWidgetsRow">
        <div class="widget_text btBox widget_custom_html">
          <h4><span>Contact Us</span></h4>
          <div class="textwidget custom-html-widget">
            <div class="su-row">
              <div class="su-column su-column-size-1-5">
                <div class="su-column-inner su-u-clearfix su-u-trim">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 20 20">
                    <path fill="currentColor"
                      d="M19.367 18.102L18 14h-1.5l.833 4H2.667l.833-4H2L.632 18.102C.285 19.146.9 20 2 20h16c1.1 0 1.715-.854 1.367-1.898M15 5A5 5 0 1 0 5 5c0 4.775 5 10 5 10s5-5.225 5-10m-7.7.06A2.7 2.7 0 0 1 10 2.361a2.699 2.699 0 1 1 0 5.399a2.7 2.7 0 0 1-2.7-2.7">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="su-column su-column-size-4-5">
                <div class="su-column-inner su-u-clearfix su-u-trim">
                  <span style="color: #ffffff; font-size: 16px">7th Floor, Amani Place</span><br />
                  <span style="color: #ffffff; font-size: 16px">Ohio Street, Dar es Salaam, Tanzania</span>
                </div>
              </div>
            </div>

            <div class="su-row">
              <div class="su-column su-column-size-1-5">
                <div class="su-column-inner su-u-clearfix su-u-trim">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5l-8-5V6l8 5l8-5v2z">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="su-column su-column-size-4-5">
                <div class="su-column-inner su-u-clearfix su-u-trim">
                  <a href="mailto:info@quickship.co.tz" title="Email">info@quickship.co.tz</a>
                </div>
              </div>
            </div>

            <div class="su-row">
              <div class="su-column su-column-size-1-5">
                <div class="su-column-inner su-u-clearfix su-u-trim">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 1024 1024">
                    <path fill="currentColor"
                      d="M79.36 432.256L591.744 944.64a32 32 0 0 0 35.2 6.784l253.44-108.544a32 32 0 0 0 9.984-52.032l-153.856-153.92a32 32 0 0 0-36.928-6.016l-69.888 34.944L358.08 394.24l35.008-69.888a32 32 0 0 0-5.952-36.928L233.152 133.568a32 32 0 0 0-52.032 10.048L72.512 397.056a32 32 0 0 0 6.784 35.2zm60.48-29.952l81.536-190.08L325.568 316.48l-24.64 49.216l-20.608 41.216l32.576 32.64l271.552 271.552l32.64 32.64l41.216-20.672l49.28-24.576l104.192 104.128l-190.08 81.472zM512 320v-64a256 256 0 0 1 256 256h-64a192 192 0 0 0-192-192m0-192V64a448 448 0 0 1 448 448h-64a384 384 0 0 0-384-384">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="su-column su-column-size-4-5">
                <div class="su-column-inner su-u-clearfix su-u-trim">
                  <span>+255 696 621 347 | +255 759 767 973</span>
                </div>
              </div>
            </div>

            <div class="su-row">
              <div class="su-column su-column-size-1-5">
                <div class="su-column-inner su-u-clearfix su-u-trim">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,20a9,9,0,1,1,9-9A9,9,0,0,1,12,21Z"></path>
                    <rect width="2" height="7" x="11" y="6" fill="currentColor" rx="1">
                      <animateTransform attributeName="transform" dur="9s" repeatCount="indefinite" type="rotate"
                        values="0 12 12;360 12 12"></animateTransform>
                    </rect>
                    <rect width="2" height="9" x="11" y="11" fill="currentColor" rx="1">
                      <animateTransform attributeName="transform" dur="0.75s" repeatCount="indefinite" type="rotate"
                        values="0 12 12;360 12 12"></animateTransform>
                    </rect>
                  </svg>
                </div>
              </div>
              <div class="su-column su-column-size-4-5">
                <div class="su-column-inner su-u-clearfix su-u-trim">
                  <span>Monday – Friday, 8:00 am – 5:00 pm</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btBox widget_nav_menu">
          <h4><span>QUICK LINKS</span></h4>
          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1041 current_page_item menu-item-2283">
                <a href="https://www.quickshipafrica.com/" aria-current="page">Home</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3110">
                <a href="https://www.quickshipafrica.com/about-us/">About</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3590">
                <a href="https://www.quickshipafrica.com/services/">Services</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3115">
                <a href="https://www.quickshipafrica.com/contact/">Contact</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3115">
                <a href="https://www.quickshipafrica.com/inquiry/">Inquiry</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="widget_text btBox widget_custom_html">
          <h4><span>Let&#8217;s Connect</span></h4>
          <div class="textwidget custom-html-widget">
            <div style="text-align: left" class="footer-social-icon">
              <a href="https://www.facebook.com/QuickshipAfrica/" target="_blank" rel="noopener" title="Facebook"><img
                  class="alignnone wp-image-2819 size-full"
                  src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2066%2065'%3E%3C/svg%3E"
                  alt="Facebook" title="Facebook" width="66" height="65"
                  data-lazy-src="/images/homepage/2022/11/icon-facebook.png" /><noscript><img
                    class="alignnone wp-image-2819 size-full" src="/images/homepage/2022/11/icon-facebook.png"
                    alt="Facebook" title="Facebook" width="66" height="65" /></noscript></a><a
                href="https://twitter.com/QuickshipAfrica" target="_blank" rel="noopener" title="Twitter"><img
                  class="alignnone wp-image-2818 size-full"
                  src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2065%2066'%3E%3C/svg%3E"
                  alt="Twitter" title="Twitter" width="65" height="66"
                  data-lazy-src="/images/homepage/2022/11/icon-twitter.png" /><noscript><img
                    class="alignnone wp-image-2818 size-full" src="/images/homepage/2022/11/icon-twitter.png"
                    alt="Twitter" title="Twitter" width="65" height="66" /></noscript></a><a
                href="https://www.youtube.com/@QuickshipAfrica" target="_blank" rel="noopener" title="Youtube"><img
                  class="alignnone wp-image-2819 size-full"
                  src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2063%2063'%3E%3C/svg%3E"
                  alt="Youtube" title="Youtube" width="63" height="63"
                  data-lazy-src="/images/homepage/2024/10/youtube-icon-v4.png" /><noscript><img
                    class="alignnone wp-image-2819 size-full" src="/images/homepage/2024/10/youtube-icon-v4.png"
                    alt="Youtube" title="Youtube" width="63" height="63" /></noscript></a><a
                href="https://www.linkedin.com/company/quickship-africa/" target="_blank" rel="noopener"
                title="LinkedIn"><img class="alignnone wp-image-2821 size-full"
                  src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2064%2066'%3E%3C/svg%3E"
                  alt="LinkedIn" width="64" height="66" title="LinkedIn"
                  data-lazy-src="/images/homepage/2022/11/icon-linkedin.png" /><noscript><img
                    class="alignnone wp-image-2821 size-full" src="/images/homepage/2022/11/icon-linkedin.png"
                    alt="LinkedIn" width="64" height="66" title="LinkedIn" /></noscript></a><a
                href="https://www.instagram.com/QuickshipAfrica/" target="_blank" rel="noopener" title="Instagram"><img
                  class="alignnone wp-image-2820 size-full"
                  src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2066%2066'%3E%3C/svg%3E"
                  alt="Instagram" title="Instagram" width="66" height="66"
                  data-lazy-src="/images/homepage/2022/11/icon-instagram.png" /><noscript><img
                    class="alignnone wp-image-2820 size-full" src="/images/homepage/2022/11/icon-instagram.png"
                    alt="Instagram" title="Instagram" width="66" height="66" /></noscript></a>
            </div>

            <div class="image-overlay">
              <div class="image-wrapper">
                <img width="687" height="500"
                  src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20687%20500'%3E%3C/svg%3E"
                  alt="Image" class="popup-image"
                  data-lazy-src="/images/homepage/2024/05/GLA-Membership-Certificate-popup.jpg" /><noscript><img
                    width="687" height="500" src="/images/homepage/2024/05/GLA-Membership-Certificate-popup.jpg"
                    alt="Image" class="popup-image" /></noscript>
                <button class="close-button">X</button>
              </div>
            </div>

            <style>
              .image-overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 999999;
                text-align: center;
              }

              .image-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 90%;
                max-height: 90%;
              }

              .popup-image {
                display: block;
                width: 100%;
                height: auto;
              }

              .close-button {
                position: absolute;
                top: 11px;
                right: 10px;
                padding: 0px;
                font-size: 15px;
                font-weight: 700;
                color: #fff;
                background-color: rgb(0 0 0 / 82%);
                border: none;
                cursor: pointer;
                width: 35px;
                height: 35px;
                border-radius: 50px;
              }

              .gla-logo {
                margin-top: 20px;
              }

              .gla-logo h4 {
                margin-bottom: 0;
              }

              @media only screen and (max-width: 576px) {

                .image-wrapper,
                .footer-social-icon {
                  width: 100% !important;
                }

                .footer-social-icon {
                  display: grid;
                  grid-template-columns: repeat(5, 1fr) !important;
                }
              }

              .footer-social-icon {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                width: 60%;
              }
            </style>

            <script is:inline>
              document.addEventListener("DOMContentLoaded", function () {
                var link = document.querySelector(".image-link");
                var overlay = document.querySelector(".image-overlay");
                var closeButton = document.querySelector(".close-button");

                link.addEventListener("click", function (event) {
                  event.preventDefault();
                  overlay.style.display = "block";
                });

                closeButton.addEventListener("click", function () {
                  overlay.style.display = "none";
                });
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="boldSection gutter btSiteFooter btGutter">
    <div class="port">
      <div class="boldRow">
        <div class="rowItem btFooterCopy col-md-12 col-sm-12 btTextCenter copyright">
          <span class="fuse-footercredits">
            <span class="fuse-copyright">
              <span class="fuse-copyrightdatename">Copyright &copy; {new Date().getFullYear()}
                <a href="https://www.quickshipafrica.com"><span
                    class="fuse-shortcode fuse-business-name-legal">Quickship</span></a>.</span>
              <span class="fuse-allrightsreserved">All Rights Reserved.</span>
            </span>
            <span class="fuse-websiteby">
              <span class="fuse-websitebywsm" style="">Website by
                <a href="https://portfolio-v1-rouge-five.vercel.app/" title="Vitalis Mutwiri"
                  data-safelink="true">Vitalis Mutwiri</a>.</span>
            </span>
          </span>
        </div>
        <!-- /copy -->
      </div>
      <!-- /boldRow -->
    </div>
    <!-- /port -->
  </footer>
</body>

</html>
<!-- /pageWrap -->

<script is:inline>
  jQuery(document).ready(function () {
    jQuery("a")
      .filter('[href^="http"], [href^="//"]')
      .not('[href*="' + window.location.host + '"]')
      .attr("rel", "noopener noreferrer")
      .attr("target", "_blank");

    jQuery('a[data-safelink="true"]').attr("rel", "");
  });
</script>
<script is:inline>
  jQuery(document).ready(function () {
    var width = jQuery(window).width();
    if (width < 800) {
      jQuery(".fuse-phone, #et-info-phone")
        .not(".menu-item .fuse-phone")
        .html(function () {
          jQuery(this).html(
            '<a href="tel:' +
            jQuery(this).text() +
            '">' +
            jQuery(this).text() +
            "</a>"
          );
        });
      jQuery(".menu-item .fuse-phone").each(function () {
        jQuery(this)
          .closest("a")
          .attr("href", "tel:" + jQuery(this).text());
      });
    }
  });
</script>
<style id="bt-custom-style-inline-css">
  .btMenuVerticalLeft .btCloseVertical:before,
  .btMenuVerticalRight .btCloseVertical:before {
    background: none;
  }

  h6 {
    font-size: 17px;
    font-weight: 500;
  }

  .p17 {
    text-align: left;
    margin-bottom: 25px;
    font-size: 17px;
  }

  .p17li {
    text-align: left;
    font-size: 17px;
  }

  .li25 {
    margin-bottom: 25px;
  }

  .li15 {
    margin-bottom: 15px;
  }

  .li19 {
    margin-bottom: 19px;
  }

  .p18 {
    text-align: left;
    font-size: 18px;
  }

  .p20 {
    text-align: left;
    font-size: 20px;
  }

  .p15 {
    text-align: left;
    font-size: 15px;
  }

  .p17li2 {
    text-align: left;
    font-size: 17px;
    margin-bottom: 19px;
    line-height: 130%;
    font-weight: 600;
  }

  .p17li25 {
    text-align: left;
    font-size: 17px;
    margin-bottom: 25px;
  }

  .li12 {
    margin-bottom: 12px;
  }

  .p19 {
    text-align: left;
    font-size: 19px;
  }

  .btNoSidebar .btContentHolder,
  .btNoSidebar .btContent {
    width: auto;
    padding: 0;
  }
</style>


<script is:inline src="/contents/wp-includes/js/jquery/jquery.min.js" id="jquery-core-js"></script>

<script is:inline src="/contents//wp-includes/js/comment-reply.min.js" id="comment-reply-js" async="async"
  data-wp-strategy="async"></script>

<script is:inline src="/contents/wp-includes/js/jquery/ui/core.min.js" id="jquery-ui-core-js"></script>
<script is:inline src="/contents/wp-includes/js/jquery/ui/datepicker.min.js" id="jquery-ui-datepicker-js"></script>
<script is:inline src="/contents/wp-includes/js/jquery/ui/mouse.min.js" id="jquery-ui-mouse-js"></script>
<script is:inline src="/contents/wp-includes/js/jquery/ui/slider.min.js" id="jquery-ui-slider-js"></script>
<script is:inline src="/contents/wp-content/plugins/bt_cost_calculator/jquery.ui.touch-punch.min.js"
  id="bt_touch-punch_js-js"></script>
<script is:inline data-minify="1" src="/contents/wp-content/cache/min/1/wp-content/plugins/cargo/bt_parallax.js"
  id="bt_parallax-js"></script>
<script is:inline>
  var bt_cc_accent_c67d5508a68a39_init_finished = false;

  document.addEventListener(
    "readystatechange",
    function () {
      if (
        !bt_cc_accent_c67d5508a68a39_init_finished &&
        typeof jQuery !== "undefined" &&
        (document.readyState === "interactive" ||
          document.readyState === "complete")
      ) {
        var css_class = "c67d5508a68a39";
        var c = jQuery("." + css_class);
        setTimeout(function () {
          c.css("opacity", "1");
        }, 200);
        var accent_color = "";

        if (accent_color != "") {
          jQuery("head").append(
            "<style>.btQuoteBooking." +
            css_class +
            " .btContactNext { color: " +
            accent_color +
            " !important; border: " +
            accent_color +
            " 2px solid !important; }.btQuoteBooking." +
            css_class +
            '  input[type="text"]:hover, .btQuoteBooking.' +
            css_class +
            '  input[type="email"]:hover, .btQuoteBooking.' +
            css_class +
            '  input[type="password"]:hover, .btQuoteBooking.' +
            css_class +
            '  input[type="url"]:hover, .btQuoteBooking.' +
            css_class +
            '  input[type="tel"]:hover, .btQuoteBooking.' +
            css_class +
            '  input[type="number"]:hover, .btQuoteBooking.' +
            css_class +
            '  input[type="date"]:hover, .btQuoteBooking.' +
            css_class +
            "  textarea:hover, .btQuoteBooking." +
            css_class +
            "  .fancy-select .trigger:hover {	box-shadow: 0 0 0 " +
            accent_color +
            " inset, 0 1px 5px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            " .dd.ddcommon.borderRadius:hover .ddTitleText {	box-shadow: 0 0 0 " +
            accent_color +
            " inset, 0 1px 5px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            '  input[type="text"]:focus, .btQuoteBooking.' +
            css_class +
            '  input[type="email"]:focus, .btQuoteBooking.' +
            css_class +
            '  input[type="url"]:focus, .btQuoteBooking.' +
            css_class +
            '  input[type="tel"]:focus, .btQuoteBooking.' +
            css_class +
            '  input[type="number"]:focus, .btQuoteBooking.' +
            css_class +
            '  input[type="date"]:focus, .btQuoteBooking.' +
            css_class +
            "  textarea:focus, .btQuoteBooking." +
            css_class +
            "  .fancy-select .trigger.open {	box-shadow: 5px 0 0 " +
            accent_color +
            " inset, 0 2px 10px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            " .dd.ddcommon.borderRadiusTp .ddTitleText, .btQuoteBooking." +
            css_class +
            " .dd.ddcommon.borderRadiusBtm .ddTitleText {	box-shadow: 5px 0 0 " +
            accent_color +
            " inset, 0 2px 10px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            "  .ui-slider .ui-slider-handle {	background: " +
            accent_color +
            " !important;}.btQuoteBooking." +
            css_class +
            " .btQuoteBookingForm .btQuoteTotal {	background: " +
            accent_color +
            " !important;}.btQuoteBooking." +
            css_class +
            "  .btContactFieldMandatory input:hover, .btQuoteBooking." +
            css_class +
            "  .btContactFieldMandatory textarea:hover {	box-shadow: 0 0 0 1px #AAA inset, 0 0 0 " +
            accent_color +
            " inset, 0 1px 5px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            " .btContactFieldMandatory .dd.ddcommon.borderRadius:hover .ddTitleText {	box-shadow: 0 0 0 1px #AAA inset, 0 0 0 " +
            accent_color +
            " inset, 0 1px 5px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            "  .btContactFieldMandatory input:focus, .btQuoteBooking." +
            css_class +
            "  .btContactFieldMandatory textarea:focus {	box-shadow: 0 0 0 1px #AAA inset, 5px 0 0 " +
            accent_color +
            " inset, 0 1px 5px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            " .btContactFieldMandatory .dd.ddcommon.borderRadiusTp .ddTitleText {	box-shadow: 0 0 0 1px #AAA inset, 5px 0 0 " +
            accent_color +
            " inset, 0 1px 5px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            "  .btContactFieldMandatory.btContactFieldError input, .btQuoteBooking." +
            css_class +
            "  .btContactFieldMandatory.btContactFieldError textarea {	border: 1px solid " +
            accent_color +
            " !important;	box-shadow: 0 0 0 1px " +
            accent_color +
            " inset !important;}.btQuoteBooking." +
            css_class +
            " .btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadius .ddTitleText {	border: 1px solid " +
            accent_color +
            " !important;	box-shadow: 0 0 0 1px " +
            accent_color +
            " inset !important;}.btQuoteBooking." +
            css_class +
            "  .btContactFieldMandatory.btContactFieldError input:hover, .btQuoteBooking." +
            css_class +
            "  .btContactFieldMandatory.btContactFieldError textarea:hover {	box-shadow: 0 0 0 1px " +
            accent_color +
            " inset, 0 0 0 " +
            accent_color +
            " inset, 0 1px 5px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            " .btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadius:hover .ddTitleText {	box-shadow: 0 0 0 1px " +
            accent_color +
            " inset, 0 0 0 " +
            accent_color +
            " inset, 0 1px 5px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            "  .btContactFieldMandatory.btContactFieldError input:focus, .btQuoteBooking." +
            css_class +
            "  .btContactFieldMandatory.btContactFieldError textarea:focus {	box-shadow: 0 0 0 1px " +
            accent_color +
            " inset, 5px 0 0 " +
            accent_color +
            " inset, 0 1px 5px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            " .btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadiusTp .ddTitleText {	box-shadow: 0 0 0 1px " +
            accent_color +
            " inset, 5px 0 0 " +
            accent_color +
            " inset, 0 1px 5px rgba(0,0,0,0.2) !important;}.btQuoteBooking." +
            css_class +
            " .btSubmitMessage {	color: " +
            accent_color +
            " !important;}.btDatePicker .ui-datepicker-header {	background-color: " +
            accent_color +
            " !important;}.btQuoteBooking." +
            css_class +
            " .btContactSubmit {	background-color: " +
            accent_color +
            " !important;}.btQuoteBooking." +
            css_class +
            " .btQuoteSwitch.on .btQuoteSwitchInner{background: " +
            accent_color +
            " !important;}</style>"
          );
        }
        bt_cc_accent_c67d5508a68a39_init_finished = true;
      }
    },
    false
  );
</script>

<script is:inline>
  window.lazyLoadOptions = [
    {
      elements_selector:
        "img[data-lazy-src],.rocket-lazyload,iframe[data-lazy-src]",
      data_src: "lazy-src",
      data_srcset: "lazy-srcset",
      data_sizes: "lazy-sizes",
      class_loading: "lazyloading",
      class_loaded: "lazyloaded",
      threshold: 300,
      callback_loaded: function (element) {
        if (
          element.tagName === "IFRAME" &&
          element.dataset.rocketLazyload == "fitvidscompatible"
        ) {
          if (element.classList.contains("lazyloaded")) {
            if (typeof window.jQuery != "undefined") {
              if (jQuery.fn.fitVids) {
                jQuery(element).parent().fitVids();
              }
            }
          }
        }
      },
    },
    {
      elements_selector: ".rocket-lazyload",
      data_src: "lazy-src",
      data_srcset: "lazy-srcset",
      data_sizes: "lazy-sizes",
      class_loading: "lazyloading",
      class_loaded: "lazyloaded",
      threshold: 300,
    },
  ];
  window.addEventListener(
    "LazyLoad::Initialized",
    function (e) {
      var lazyLoadInstance = e.detail.instance;
      if (window.MutationObserver) {
        var observer = new MutationObserver(function (mutations) {
          var image_count = 0;
          var iframe_count = 0;
          var rocketlazy_count = 0;
          mutations.forEach(function (mutation) {
            for (var i = 0; i < mutation.addedNodes.length; i++) {
              if (
                typeof mutation.addedNodes[i].getElementsByTagName !==
                "function"
              ) {
                continue;
              }
              if (
                typeof mutation.addedNodes[i].getElementsByClassName !==
                "function"
              ) {
                continue;
              }
              images = mutation.addedNodes[i].getElementsByTagName("img");
              is_image = mutation.addedNodes[i].tagName == "IMG";
              iframes = mutation.addedNodes[i].getElementsByTagName("iframe");
              is_iframe = mutation.addedNodes[i].tagName == "IFRAME";
              rocket_lazy =
                mutation.addedNodes[i].getElementsByClassName(
                  "rocket-lazyload"
                );
              image_count += images.length;
              iframe_count += iframes.length;
              rocketlazy_count += rocket_lazy.length;
              if (is_image) {
                image_count += 1;
              }
              if (is_iframe) {
                iframe_count += 1;
              }
            }
          });
          if (image_count > 0 || iframe_count > 0 || rocketlazy_count > 0) {
            lazyLoadInstance.update();
          }
        });
        var b = document.getElementsByTagName("body")[0];
        var config = { childList: !0, subtree: !0 };
        observer.observe(b, config);
      }
    },
    !1
  );
</script>
<script is:inline data-no-minify="1" async
  src="/contents/wp-content/plugins/wp-rocket/assets/js/lazyload/17.8.3/lazyload.min.js"></script>
<script is:inline>
  function lazyLoadThumb(e, alt) {
    var t =
      '<img data-lazy-src="https://i.ytimg.com/vi/ID/hqdefault.jpg" alt="" width="480" height="360"><noscript><img src="https://i.ytimg.com/vi/ID/hqdefault.jpg" alt="" width="480" height="360"></noscript>',
      a = '<button class="play" aria-label="play Youtube video"></button>';
    t = t.replace('alt=""', 'alt="' + alt + '"');
    return t.replace("ID", e) + a;
  }
  function lazyLoadYoutubeIframe() {
    var e = document.createElement("iframe"),
      t = "ID?autoplay=1";
    t +=
      0 === this.parentNode.dataset.query.length
        ? ""
        : "&" + this.parentNode.dataset.query;
    e.setAttribute("src", t.replace("ID", this.parentNode.dataset.src)),
      e.setAttribute("frameborder", "0"),
      e.setAttribute("allowfullscreen", "1"),
      e.setAttribute(
        "allow",
        "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      ),
      this.parentNode.parentNode.replaceChild(e, this.parentNode);
  }
  document.addEventListener("DOMContentLoaded", function () {
    var e,
      t,
      p,
      a = document.getElementsByClassName("rll-youtube-player");
    for (t = 0; t < a.length; t++)
      (e = document.createElement("div")),
        e.setAttribute("data-id", a[t].dataset.id),
        e.setAttribute("data-query", a[t].dataset.query),
        e.setAttribute("data-src", a[t].dataset.src),
        (e.innerHTML = lazyLoadThumb(a[t].dataset.id, a[t].dataset.alt)),
        a[t].appendChild(e),
        (p = e.querySelector(".play")),
        (p.onclick = lazyLoadYoutubeIframe);
  });
</script>
<script is:inline src="/contents/wp-includes/js/jquery/jquery-migrate.min.js" id="jquery-migrate-js"></script>
<script is:inline data-minify="1"
  src="/contents/wp-content/cache/min/1/wp-content/plugins/bt_cost_calculator/jquery.dd.js"
  id="bt_cc_dd-js"></script>
<script is:inline data-minify="1"
  src="/contents/wp-content/cache/min/1/wp-content/plugins/bt_cost_calculator/cc.main.js"
  id="bt_cc_main-js"></script>

<script is:inline data-minify="1" src="/contents/wp-content/cache/min/1/wp-content/plugins/cargo/bt_elements.js"
  id="bt_plugin_enqueue-js"></script>
<script is:inline src="/contents/wp-content/themes/cargo/js/jquery.magnific-popup.min.js"
  id="jquery-magnific-popup-js"></script>
<script is:inline src="/contents/wp-content/themes/cargo/js/slick.min.js" id="slick-js"></script>
<script is:inline data-minify="1" src="/contents/wp-content/cache/min/1/wp-content/themes/cargo/js/fancySelect.js"
  id="fancySelect-js"></script>
<script is:inline data-minify="1" src="/contents/wp-content/cache/min/1/wp-content/themes/cargo/js/misc.js"
  id="cargo-misc-js"></script>
<script is:inline data-minify="1" src="/contents/wp-content/cache/min/1/wp-content/themes/cargo/js/header.misc.js"
  id="cargo-header-misc-js"></script>
<script is:inline data-minify="1" src="/contents/wp-content/cache/min/1/wp-content/themes/cargo/js/dir.hover.js"
  id="cargo-dir-hover-js"></script>
<script is:inline data-minify="1" src="/contents/wp-content/cache/min/1/wp-content/themes/cargo/js/sliders.js"
  id="cargo-sliders-js"></script>