<main>
   
  <!-- Header Start -->
  <div class="jumbotron jumbotron-fluid mb-5">
      <div class="container text-center py-5">
          <h1 class="text-white display-3">About</h1>
          <div class="d-inline-flex align-items-center text-white">
              <p class="m-0"><a class="text-white" href="/">Home</a></p>
              <i class="fa fa-circle px-3"></i>
              <p class="m-0">About</p>
          </div>
      </div>
  </div>
  <!-- Header End -->


  <!-- About Start -->
  <div class="container-fluid py-5 px-1">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5 pb-4 pb-lg-0">
                  <img class="img-fluid w-100" src="img/about.jpg" alt="">
                  <div class="bg-primary text-dark text-center p-4">
                      <h3 class="m-0">Trusted Logistics Partner</h3>
                  </div>
              </div>
              <div class="col-lg-7">
                  <h6 class="text-primary text-uppercase font-weight-bold">About Us</h6>
                  <h1 class="mb-4">Trusted & Faster Logistic Service Provider</h1>
                  <p class="mb-4">Quickship PVT Limited is a privately owned logistics company specializing in customs clearing and forwarding services. We are committed to providing seamless, efficient, and reliable solutions, ensuring that our clients' import and export needs are met with precision, speed, and cost-effectiveness.</p>
                  <div class="d-flex align-items-center pt-2">
                      <button type="button" class="btn-play" data-toggle="modal"
                          data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                          <span></span>
                      </button>
                      <h5 class="font-weight-bold m-0 ml-4">Play Video</h5>
                  </div>
              </div>
          </div>
      </div>
      <!-- Video Modal -->
      <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>        
                      <!-- 16:9 aspect ratio -->
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="" id="video" allow="autoplay"></iframe>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- About End -->


  <!-- Features Start -->
  <div class="container-fluid bg-secondary my-5 mx-1">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5">
                  <img class="img-fluid w-100" src="img/feature.jpg" alt="">
              </div>
              <div class="col-lg-7 py-5 py-lg-0">
                  <h6 class="text-primary text-uppercase font-weight-bold">Why Choose Us</h6>
                  <h1 class="mb-4">Faster, Safe and Trusted Logistics Services</h1>
                  <p class="mb-4">At Quickship, we are committed to providing seamless, efficient, and reliable solutions, ensuring that our clients' import and export needs are met with precision, speed, and cost-effectiveness.</p>
                  <ul class="list-inline">
                      <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Proven Track Record – Decades of experience in customs clearing & forwarding.</h6>
                      <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>Commitment to Timeliness – We ensure shipments arrive JUST-IN-TIME.</h6></li>
                      <li><h6><i class="far fa-dot-circle text-primary mr-3"></i>One-Stop Logistics Partner – From documentation to delivery, we handle everything.</h6></li>
                  </ul>
                  <a href="/our-services" class="btn btn-primary mt-3 py-2 px-4">Learn More</a>
              </div>
          </div>
      </div>
  </div>
  <!-- Features End -->


  <!-- Team Start -->
  <div class="container-fluid pt-5 px-1">
      <div class="container">
          <div class="text-center pb-2">
              <h6 class="text-primary text-uppercase font-weight-bold">Delivery Team</h6>
              <h1 class="mb-4">Meet Our Expert Team</h1>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-6">
                  <div class="team card position-relative overflow-hidden border-0 mb-5">
                      <img class="card-img-top" src="img/team-1.jpg" alt="">
                      <div class="card-body text-center p-0">
                          <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                              <h5 class="font-weight-bold">Team Member</h5>
                              <span>Operations Manager</span>
                          </div>
                          <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                              <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                              <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="team card position-relative overflow-hidden border-0 mb-5">
                      <img class="card-img-top" src="img/team-2.jpg" alt="">
                      <div class="card-body text-center p-0">
                          <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                              <h5 class="font-weight-bold">Team Member</h5>
                              <span>Customs Specialist</span>
                          </div>
                          <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                              <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                              <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="team card position-relative overflow-hidden border-0 mb-5">
                      <img class="card-img-top" src="img/team-3.jpg" alt="">
                      <div class="card-body text-center p-0">
                          <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                              <h5 class="font-weight-bold">Team Member</h5>
                              <span>Logistics Coordinator</span>
                          </div>
                          <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                              <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                              <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="team card position-relative overflow-hidden border-0 mb-5">
                      <img class="card-img-top" src="img/team-4.jpg" alt="">
                      <div class="card-body text-center p-0">
                        <div class="team-text d-flex flex-column justify-content-center bg-secondary">
                            <h5 class="font-weight-bold">Team Member</h5>
                            <span>Transport Manager</span>
                        </div>
                        <div class="team-social d-flex align-items-center justify-content-center bg-primary">
                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

</main>