<!-- Topbar Start -->
<div class="container-fluid bg-dark">
  <div class="row py-2 px-lg-5">
      <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
          <div class="d-inline-flex align-items-center text-white">
              <small><i class="fa fa-phone-alt mr-2"></i>+255 696 621 347 </small>
              <small class="px-3">|</small>
              <small><i class="fa fa-envelope mr-2"></i>info@quickship.co.tz</small>
          </div>
      </div>
      <div class="col-lg-6 text-center text-lg-right">
          <div class="d-inline-flex align-items-center">
              <a class="text-white px-2" href="https://www.facebook.com/QuickshipAfrica/">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a class="text-white px-2" href="https://twitter.com/QuickshipAfrica">
                  <i class="fab fa-twitter"></i>
              </a>
              <a class="text-white px-2" href="https://www.linkedin.com/company/quickship-africa/">
                  <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="text-white px-2" href="https://www.instagram.com/QuickshipAfrica/">
                  <i class="fab fa-instagram"></i>
              </a>
          </div>
      </div>
  </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
      <a href="/" class="navbar-brand ml-lg-3">
        <img src="/img/logo.webp" width="250" alt="Quickship Logo">
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
          <div class="navbar-nav m-auto py-0">
              <a href="/" class={Astro.url.pathname === "/" ? "nav-item nav-link active" : "nav-item nav-link"}>Home</a>
              <a href="/about-us" class={Astro.url.pathname === "/about-us" ? "nav-item nav-link active" : "nav-item nav-link"}>About</a>
              <a href="/our-services" class={Astro.url.pathname === "/our-services" ? "nav-item nav-link active" : "nav-item nav-link"}>Services</a>
              <a href="/contact-us" class={Astro.url.pathname === "/contact-us" ? "nav-item nav-link active" : "nav-item nav-link"}>Contact</a>
          </div>
          <a href="/contact-us" class="btn btn-primary py-2 px-4 d-none d-lg-block">Get A Quote</a>
      </div>
  </nav>
</div>
<!-- Navbar End -->